# --- PYTHON (BACKEND) ---
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
backend/venv/

# --- NODE / IONIC (FRONTEND) ---
node_modules/
/www
/platforms
/plugins
/dist
/tmp
/out-tsc
/.angular
/.angular/cache
/.ionic
.sass-cache/

# --- ANDROID (CAPACITOR/CORDOVA) ---
# Archivos generados de Android que no deben subirse
*.apk
*.aab
*.dex
*.class
/android/app/build/
/android/.gradle/
local.properties
.cxx/
captures/

# --- IDEs y EDITORES ---
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# --- SISTEMA Y LOGS ---
*.log
npm-debug.log
yarn-error.log