# ==============================
# PYTHON / BACKEND
# ==============================
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
backend/venv/
pycache/

# ==============================
# NODE / IONIC / ANGULAR (FRONTEND)
# ==============================
# Dependencias
node_modules/
package-lock.json

# Compilación y Build
/www
/dist
/out-tsc
/tmp

# Cachés y Configuración de Frameworks
/.angular/cache
/.angular
/.ionic
.sass-cache/

# Ionic / Cordova / Capacitor específicos
/platforms
/plugins

# ==============================
# MOBILE (ANDROID / IOS)
# ==============================
# --- Android ---
# Archivos generados y de compilación
*.apk
*.aab
*.dex
*.class
/android/app/build/
/android/.gradle/
.cxx/
captures/
# Configuración local (contiene claves o rutas locales)
local.properties

# --- iOS ---
ios/App/App/public/

# ==============================
# IDEs y EDITORES
# ==============================
.vscode/
.idea/
*.swp
*.swo

# ==============================
# SISTEMA OPERATIVO Y LOGS
# ==============================
# Archivos de sistema (Mac/Windows)
.DS_Store
Thumbs.db

# Logs de errores y depuración
*.log
npm-debug.log
yarn-error.log




android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json


# --- CAPACITOR ANDROID ASSETS 
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json

# --- CAPACITOR ANDROID ASSETS 
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json