:host {
  --azul-utc: #004aad;
  --verde-utc: #9fc34c; /* Verde base */
  --verde-hover: #8eb340;
  --gris-texto: #555;
  --gris-borde: #dcdcdc;
  --blanco: #ffffff;
}

ion-content {
  --background: #ffffff;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  max-width: 450px;
  margin: 0 auto;
  background: white;
}

/* --- HEADER --- */
.login-header {
  text-align: center;
  margin-bottom: 30px;
  width: 100%;

  .logo-container {
    width: 200px; 
    height: 200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: contain; 
    }
  }
}

/* --- FORMULARIO --- */
.login-form {
  width: 100%;
}

.input-group {
  margin-bottom: 25px;

  label {
    display: block;
    color: var(--gris-texto);
    font-weight: 700; 
    font-size: 0.95rem;
    margin-bottom: 8px;
    color: #444;
  }

  .custom-input {
    display: flex;
    align-items: center;
    background: #ffffff; 
    border: 1px solid #ccc; 
    border-radius: 8px;
    padding: 0 15px;
    height: 55px; 
    transition: all 0.3s ease;

    &:focus-within {
      border-color: var(--azul-utc);
      box-shadow: 0 0 0 4px rgba(0, 74, 173, 0.1);
    }

    .input-icon {
      font-size: 1.4rem;
      color: #999;
      margin-right: 12px;
    }

    input {
      border: none;
      background: transparent;
      width: 100%;
      height: 100%;
      font-size: 1.05rem;
      color: #333;
      outline: none;
      font-weight: 500;

      &::placeholder {
        color: #bbb;
        font-weight: 400;
      }
    }
  }
}


.login-btn {
  margin-top: 35px;
  height: 55px;
  font-size: 1.1rem;
  --border-radius: 8px;
  
  
  --background: #9fc34c;
  --background-activated: #8ab635;
  --background-hover: #8ab635;
  
 
  --box-shadow: 0 4px 15px rgba(159, 195, 76, 0.4);
  

  color: white !important;
  --color: white !important;
  
  ion-icon {
    font-size: 1.3rem;
    margin-left: 10px;
    color: white !important;
  }

  .btn-text {
    font-weight: 800; 
    letter-spacing: 0.5px;
    color: white !important;
  }
}


.divider-container {
  display: flex;
  align-items: center;
  margin: 40px 0 20px;
  opacity: 0.6;
  
  .line {
    flex: 1;
    height: 1px;
    background-color: #ddd;
  }
  
  .divider-text {
    padding: 0 15px;
    color: #888;
    font-size: 0.85rem;
  }
}


.footer-link {
  text-align: center;
  font-size: 0.95rem;
  color: #666;
  margin-top: 20px;

  a {
    color: var(--azul-utc);
    font-weight: 700;
    text-decoration: none;
    margin-left: 5px;
    
    &:hover {
      text-decoration: underline;
    }
  }
}