  <ion-content [fullscreen]="true" class="ion-padding">
  <h2 class="ion-text-center">Panel del Administrador (PTC)</h2>

  <ion-grid>
    <ion-row>
      <ion-col size="6" size-sm="4" size-md="3">
        <ion-card routerLink='/gestionar-grupos'>
          <ion-card-header>
            <ion-card-title>Gestionar Grupos</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6" size-sm="4" size-md="3">
        <ion-card routerLink='/gestionar-materias'>
          <ion-card-header>
            <ion-card-title>Gestionar Materias</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6" size-sm="4" size-md="3">
        <ion-card routerLink='/gestionar-profesores'>
          <ion-card-header>
            <ion-card-title>Gestionar Profesores</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6" size-sm="4" size-md="3">
        <ion-card routerLink= '/gestionar-alumnos'>
          <ion-card-header>
            <ion-card-title>Gestionar Alumnos</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6" size-sm="4" size-md="3">
        <ion-card routerLink='/historial-asistencias'>
          <ion-card-header>
            <ion-card-title>Historial de Asistencias</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<
